################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Millionandup.PropertyManagement.Microservices/.vs/Millionandup.PropertyManagement.Microservices/CopilotIndices/17.14.995.13737/CodeChunks.db
/Millionandup.PropertyManagement.Microservices/.vs/Millionandup.PropertyManagement.Microservices/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/Millionandup.PropertyManagement.Microservices/.vs/Millionandup.PropertyManagement.Microservices/CopilotIndices/17.14.995.13737
/Millionandup.PropertyManagement.Microservices/.vs/Millionandup.PropertyManagement.Microservices/DesignTimeBuild
/Millionandup.PropertyManagement.Microservices/.vs/Millionandup.PropertyManagement.Microservices/FileContentIndex
/Millionandup.PropertyManagement.Microservices/.vs/ProjectEvaluation
/Millionandup.PropertyManagement.Microservices/Auth.API/obj
/Millionandup.PropertyManagement.Microservices/.vs/Millionandup.PropertyManagement.Microservices/config
/Millionandup.PropertyManagement.Microservices/.vs/Millionandup.PropertyManagement.Microservices/v17/TestStore/0
/Millionandup.PropertyManagement.Microservices/Auth.Application/obj
/Millionandup.PropertyManagement.Microservices/Auth.Domain/obj
/Millionandup.PropertyManagement.Microservices/Auth.Infrastructure/obj
/Millionandup.PropertyManagement.Microservices/Properties.API/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Properties.API/obj
/Millionandup.PropertyManagement.Microservices/Properties.Application/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Properties.Application/obj
/Millionandup.PropertyManagement.Microservices/Properties.Domain/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Properties.Domain/obj
/Millionandup.PropertyManagement.Microservices/Properties.Infrastructure/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Properties.Infrastructure/obj
/Millionandup.PropertyManagement.Microservices/Shared.Domain/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Shared.Domain/obj/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Shared.Domain/obj
/Millionandup.PropertyManagement.Microservices/Shared.Infrastructure/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Shared.Infrastructure/obj
/Millionandup.PropertyManagement.Microservices/TestMillionandup.Property/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/TestMillionandup.Property/obj
/Millionandup.PropertyManagement.Microservices/.vs/Millionandup.PropertyManagement.Microservices/v17
/Millionandup.PropertyManagement.Microservices/Auth.API/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Auth.Application/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Auth.Domain/bin/Debug/net9.0
/Millionandup.PropertyManagement.Microservices/Auth.Infrastructure/bin/Debug/net9.0
